<div class="bodyDiv">
    <h1>{{{ title }}}</h1>
    <p class="TexArea">
        NoDupli is a cross-language plagiarism detection tool created to assist professionals, academic institutions and students alike in maintaining good standards in their writing.
        <br/>
        Our team recognizes the hardships of detecting imitative writing in this well-connected multilingual world.
        We currently support English and French mediums and aspire to use our base technology to add more target languages to our software in the time to come.
        <br/>
        Our passion for innovation and solving real-world issues came together when we were presented with the idea of improving the current methods used to detect plagiarism. Articulating ideas and writing original content is a tedious task that requires the element of creativity and through our software we hope to give credit where its due.
        <br/><br/>
        Sign up today and let us be a part of your journey!
    </p>
</div>