
<h1> {{ title }}</h1>
<p>Welcome to {{ title }} </p>

<div>
    <form id="uploadForm" enctype="multipart/form-data" method="post">
        <input type="file" name="userFile" />
        <input type="submit" value="Upload File" name="submit">
    </form>
</div>

<script src="js/upload.js"></script>