
<h1> {{ title }}</h1>
{{#if condition }}
{{ else }}
{{/if}}

<h2>Links:</h2>
<ul>
    {{#each anyArray }}
        <li>
            <a href="/{{this}}">{{ this }}</a>
        </li>
    {{/each}}
</ul>
