<style>
    .personName
    {
        font-family:Sans-serif;
        font-size:18pt;
    }
    .designation
    {
        font-size:12pt;
        font-family:Sans-serif;
    }
    td img {
        width: 64px;
        margin: 8px;
    }
</style>

<div class="bodyDiv" align="center">
    <center><p class="pMeetUs" style=" align: center; font-family: Sans-serif; font-size: 28pt;"> Meet Us </p></center>
    <p class="TexArea">

    <table align="center" border="0">
        <tr>
            <td rowspan="2">
                <img src="/img/team/afrida.jpg"/>
            </td>
            <td class="personName">
                Afrida Tabasum
            </td>

            <td rowspan="2">
                <img src="/img/team/anne.jpg">
            </td>
            <td class="personName">
                Anee Shahre
            </td>
        </tr>
        <tr>

            <td class="designation" style="padding:0 70px 0 0px;">&nbsp;&nbsp;&nbsp; Project Manager</td>
            <td class="designation" style="padding:0 70px 0 0px;">&nbsp;&nbsp;&nbsp; Business Analyst</td>
        </tr>
        <tr>
            <td rowspan="2">
                <img src="/img/team/apran.jpg">
            </td>
            <td class="personName">
                Arpan
            </td>

            <td rowspan="2">
                <img src="/img/team/ifran.jpg">
            </td>
            <td class="personName">
                Ifran
            </td>
        </tr>
        <tr>

            <td class="designation">&nbsp;&nbsp;&nbsp; Business Analyst</td>
            <td class="designation">&nbsp;&nbsp;&nbsp; Database Administrator</td>
        </tr>
        <tr>
            <td rowspan="2">
                <img src="/img/team/shane.jpg">
            </td>
            <td class="personName">
                Shane
            </td>

            <td rowspan="2">
                <img src="/img/team/usman.jpg">
            </td>
            <td class="personName">
                Usman
            </td>
        </tr>
        <tr>

            <td class="designation">&nbsp;&nbsp;&nbsp; System Designer</td>
            <td class="designation">&nbsp;&nbsp;&nbsp; Testing Engineer</td>
        </tr>

        <tr>
            <td rowspan="2">
                <img src="/img/team/heeron.jpg">
            </td>
            <td class="personName">
                Heeron
            </td>
        </tr>
        <tr>
            <td class="designation" >&nbsp;&nbsp;&nbsp; Test Engineer</td>
        </tr>
    </table>

    </p>
</div>