/* THIS CSS IS APPLIED ON ALL PAGES!! */

.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
}
a.navbar-brand {
    padding: 0px;
}

.container-fluid{
    background-color: #07418c;
}
.navbar-header{
    background-color: #07418c;
    border-color: #E7E7E7;
}

.nav>li>a {
    color: white;
}
.nav>li>a:hover {
    background-color: #0E69DE !important;
}
.nav>li>a:active {
    background-color: #0E69DE !important;
}

.glyphicon.glyphicon-user{
    color: #fff;
}

.fa.fa-caret-down{
    font-size:28px;
    color:#fff;
}

/* Colorise buttons */
.btn{
    background-color: #07418c !important;
    border-color: #07418c !important;
    color: white !important;

    padding: 14px !important;
    height: auto !important;

    text-transform: uppercase;
}
.btn:hover, .btn:focus {
    color: #fff;
    background-color: #062e63 !important;
    border-color: #07418c !important;
}