/* THIS CSS IS APPLIED ON ALL PAGES!! */

.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
}
a.navbar-brand {
    padding: 0px;
}

.container-fluid{
    background-color: #07418c;
}
.navbar-header{
    background-color: #07418c;
    border-color: #E7E7E7;
}

.nav>li>a {
    color: white;
}
.nav>li>a:hover {
    background-color: #0E69DE !important;
}
.nav>li>a:active {
    background-color: #0E69DE !important;
}

.glyphicon.glyphicon-user{
    color: #fff;
}

.fa.fa-caret-down{
    font-size:28px;
    color:#fff;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #0E69DE !important;
}

/* Colorise buttons */
.btn{
    background-color: #07418c !important;
    border-color: #07418c !important;
    color: white !important;

    padding: 14px !important;
    height: auto !important;

    text-transform: uppercase;
}
.btn:hover, .btn:focus {
    color: #fff;
    background-color: #062e63 !important;
    border-color: #07418c !important;
}

html, body {
    height: 100%;
    background-color: #f0f0f0 !important;
}

/* Content */
.container {
    height: auto;
    min-height: 50%;
    width: 70% !important;
    background-color: #FFFFFF;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    padding: 20px !important;
}